* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3px;
}

.header, .nav, .content, .sidebar, .footer {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 3px;
    text-align: center;
}

/* Float layout */
.nav {
    width: 25%;
    float: left;
    background-color: lightblue;
}

.content {
    width: 50%;
    float: left;
    background-color: lightcoral;
}

.sidebar {
    width: 25%;
    float: right;
    background-color: lightgreen;
}

.footer {
    clear: both;
    background-color: lightgray;
}

/* Media Queries для Float */
@media (max-width: 1199px) {
    .wrapper {
        max-width: 950px;
    }
}

@media (max-width: 949px) {
    .wrapper {
        max-width: 750px;
    }
    .nav, .content, .sidebar {
        width: 100%;
        float: none;
    }
}

@media (max-width: 749px) {
    .wrapper {
        max-width: 500px;
    }
}

@media (max-width: 499px) {
    .wrapper {
        max-width: 100%;
    }
}